html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 70vh;
}

.half-height {
    height: 35vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}


/***** HOME PAGE *****/
#dz-container {
    height: 325px;
}

.dz-error-message {
    display: none;
}


/***** SYNC *****/
.sync-container {
    margin-top: 50px;
}
.sync-container span img {
    display: none;
    margin-left: 10px;
}

.sync-container span img.active {
    display: initial;
}
.sync-container h3 {
    display: inline-block;
}

/***** PLAYERS *****/
.players-table td {
    /*min-width: 150px;*/
    text-align: center;
}
div.dataTables_wrapper {
    width: 820px;
    margin: 0 auto;
    margin-top: 40px;
}
div#DataTables_Table_0_length {
    float: right;
}

div#DataTables_Table_0_filter {
    float: left;
}

table.dataTable {
    margin: 0 !important;
}

.player-table {
    display: none;
}

.player-table.active {
    display: block;
}

#batters .dataTables_scrollHeadInner, #batters #DataTables_Table_1 {
    width: 820px !important;
}

/*div#DataTables_Table_0_paginate a {
    padding: 5px;
    font-weight: bold;
}
div#DataTables_Table_0_wrapper table {
    font-size: 14px;
}

div#DataTables_Table_0_wrapper th {
    min-width: 100px;
}*/