html, body {
    background-color: #fff;
    color: #444;
    font-family: sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 60vh;
}

.fl {
    float: left;
}

.half-height {
    height: 35vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.player-nav .active {
    background-color: #0066ff !important;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.bold {
    font-weight: bold;
}

.content {
    text-align: center;
    width: 1700px;
}

.title {
    font-size: 64px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}


/***** HOME PAGE *****/
#dz-container {
    height: 325px;
}

.dz-error-message {
    display: none;
}


/***** SYNC *****/
.sync-container {
    margin-top: 50px;
}
.sync-container span img {
    display: none;
    margin-left: 10px;
}

.sync-container span img.active {
    display: initial;
}
.sync-container h3 {
    display: inline-block;
}

/***** PLAYERS *****/
.players-table td {
    /*min-width: 150px;*/
    text-align: center;
}
div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}
/*div#DataTables_Table_0_length {
    float: right;
}

div#DataTables_Table_0_filter {
    float: left;
}*/

.player-nav {
    position: absolute;
    top: 166px;
    right: 770px;
    z-index: 99;
}

table.dataTable {
    margin: 0 !important;
    width: 100% !important;
}

table.dataTable td,
table.dataTable th {
    text-align: center;
}

.players-table tbody tr:hover,
.players-table tbody tr.active {
    background: #3399ff;
    cursor: pointer;
}

.table-hover>tbody>tr:hover,
.table-hover>tbody>tr.active td {
    background: #3399ff !important;
    cursor: pointer;
}

.dataTables_scrollHeadInner {
    width: 100% !important;
}

.players-table thead th {
    font-size: 12px;
    text-align: center;
}

#rbs thead th {
    padding: 10px 27px;
}

.player-table {
    display: none;
}

.player-table.active {
    display: block;
}

.card-content {
    display: none;
}

.card-content.active {
    display: block;
}

#batters .dataTables_scrollHeadInner, #batters #DataTables_Table_1 {
    width: 820px !important;
}

.modal-dialog {
    width: 1150px;
}

.modal .dataTables_length,
.modal .dataTables_filter,
.modal .dataTables_info,
.modal .dataTables_paginate {
    display: none;
}

.modal-body {
    padding-top: 0;
}

.modal .dataTables_wrapper {
    margin-top: 0;
}

/***** GENERATE LINEUPS *****/
.criteria {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    width: 18%;
}

.criteria-holder {
    height: 225px;
    width: 1200px;
    margin: 0 auto;
}

/***** DATA ANALYSIS *****/
.player-data .name {
    font-size: 16px;
}

/*div#DataTables_Table_0_paginate a {
    padding: 5px;
    font-weight: bold;
}
div#DataTables_Table_0_wrapper table {
    font-size: 14px;
}

div#DataTables_Table_0_wrapper th {
    min-width: 100px;
}*/