.inline-block {
    display: inline-block;
}
.text-center {
    text-align: center;
}

.ml10 {
    margin-left: 10px;
}

.mt10 {
    margin-top: 10px;
}

.green {
    color: green;
}

.lime-green-bkg {
    color: white;
    background: lime;
}

.light-green-bkg {
    color: white;
    background: green;
}

.green-bkg {
    color: white;
    background: darkgreen;
}

.red-bkg {
    color: white;
    background: red;
}

.dark-red-bkg {
    color: white;
    background: darkred;
}

.red {
    color: red;
}

.darkorange {
    color: darkorange;
}

.btn.player-tab.active,
.btn.btn-success.btn-simple:focus {
    background-color: #4caf50;
    color: white;
}

.player-table thead th:hover {
	cursor: pointer;
}

.player-table thead th span {
    display: inline-block;
    vertical-align: inherit;
}

.player-table tbody tr:hover {
	background-color: #00bcd4;
	color: white;
	cursor: pointer;
}






/*** Generate Lineups ***/
.criteria-container {
    padding: 40px;
}
.fields input {
    margin: 10px 0;
}

/*** Data Analysis ***/
.stat-label {
    width: 75px;
    display: inline-block;
}

.stat-level i {
    font-size: 12px;
}

table.game-log-table td {
    border-top: 1px solid #ddd;
}

table.game-log-table th,table.game-log-table td {
    padding: 5px;
}